Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

fix readme
  README.md
  challenges/00113-easy-losing-this/README.md
  challenges/00113-easy-losing-this/info.yml
  components/editor/Description.tsx
Due: eslint --fix --cache

add typescript support
  app/challenges/[slug]/Question.tsx
  app/challenges/page.tsx
  challenges/0001-easy-rtl-icon/template.react.md
  challenges/0003-medium-use-hover/info.yml
  components/challenges/ChallengeListFilter.tsx
  components/challenges/ChallengeListSort.tsx
  components/challenges/ChallengeListWithFilters.tsx
  components/editor/CodeEditor.tsx
  components/editor/Console.tsx
  components/editor/MonacoEditor.tsx
  components/ui/icon.tsx
  components/ui/index.ts
  components/ui/toggle.tsx
  db/challenge.ts
  hooks/useFilteredChallenges.ts
  templates/index.ts
  templates/typescript.ts
  utils/challenges.ts
Due: eslint --fix --cache

feat(question): add #115 - forEach and this
  challenges/00115-easy-foreach-and-this/README.md
  challenges/00115-easy-foreach-and-this/info.yml
  challenges/00115-easy-foreach-and-this/template.javascript.md
Due: none

fix missing prop
  app/play/client.tsx
Due: eslint --fix --cache

feat(question): add #117 - Composibility
  challenges/00117-easy-composibility/README.md
  challenges/00117-easy-composibility/info.yml
  challenges/00117-easy-composibility/template.javascript.md
Due: none

fix build issues
  app/submit/question/Step2Fields.tsx
  components/mdx/Sandpack.tsx
  components/questions/AnswerList.tsx
Due: eslint --fix --cache

chore: create discussion for challenge #115 - forEach and this
  challenges/00115-easy-foreach-and-this/info.yml
Due: none

feat(question): add #121 - F.prototype
  challenges/00121-easy-f-prototype/README.md
  challenges/00121-easy-f-prototype/info.yml
  challenges/00121-easy-f-prototype/solution.md
Due: none

feat(question): add #123 - F.prototype and constructor
  challenges/00123-easy-f-prototype-and-constructor/README.md
  challenges/00123-easy-f-prototype-and-constructor/info.yml
  challenges/00123-easy-f-prototype-and-constructor/solution.md
Due: none

chore: create discussion for challenge #121 - F.prototype
  challenges/00121-easy-f-prototype/info.yml
Due: none

chore: create discussion for challenge #123 - F.prototype and constructor
  challenges/00123-easy-f-prototype-and-constructor/info.yml
Due: none

Update template.javascript.md
  challenges/00117-easy-composibility/template.javascript.md
Due: none

chore: create discussion for challenge #117 - Composibility
  challenges/00117-easy-composibility/info.yml
Due: none

feat(question): add #117 - Composibility
  challenges/00117-easy-composibility/info.yml
  challenges/00117-easy-composibility/template.javascript.md
Due: none

fix tests
  app/submit/quiz/client.tsx
  challenges/00117-easy-composibility/template.javascript.md
Due: eslint --fix --cache

chore: update index
  README.md
  challenges/00115-easy-foreach-and-this/README.md
  challenges/00117-easy-composibility/README.md
  challenges/00121-easy-f-prototype/README.md
  challenges/00123-easy-f-prototype-and-constructor/README.md
Due: none

fix mobile responsiveness issues
  app/challenges/[slug]/Breadcrumb.tsx
  app/globals.css
  components/editor/Console.tsx
  components/editor/MarkCompleteButton.tsx
  components/editor/ResizableLayout.tsx
  components/home/Community.tsx
  components/home/Hero.tsx
  components/home/HeroImage.tsx
  components/mdx/index.tsx
  db/completions.ts
Due: eslint --fix --cache, prettier --write --cache

add complete button on list item
  app/globals.css
  components/challenges/ChallengeListItem.tsx
  components/layout/Footer.tsx
  components/ui/badge.tsx
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #133 - Class and Prototype
  challenges/00133-easy-class-and-prototype/README.md
  challenges/00133-easy-class-and-prototype/info.yml
  challenges/00133-easy-class-and-prototype/solution.md
Due: none

chore: create discussion for challenge #133 - Class and Prototype
  challenges/00133-easy-class-and-prototype/info.yml
Due: none

add mixpanel code
  app/globals.css
  components/challenges/ChallengeListItem.tsx
  components/editor/MonacoEditor.tsx
  components/ui/badge.tsx
  components/ui/button.tsx
  components/ui/icon-button.tsx
  package-lock.json
  package.json
  types/env.d.ts
  utils/mixpanel.ts
Due: eslint --fix --cache, prettier --write --cache

fix typo
  utils/mixpanel.ts
Due: eslint --fix --cache

fix mixpanl code
  app/challenges/[slug]/client.tsx
  components/challenges/ChallengeListItem.tsx
  types/env.d.ts
  utils/mixpanel.ts
Due: eslint --fix --cache

chore: update index
  README.md
  challenges/00133-easy-class-and-prototype/README.md
  package-lock.json
Due: prettier --write --cache

Update info.yml
  challenges/00133-easy-class-and-prototype/info.yml
Due: none

chore: update index
  README.md
  challenges/00133-easy-class-and-prototype/README.md
Due: none

feat(question): add #137 - Class inheritance with overriding constructor
  challenges/00137-easy-class-inheritance-with-overriding-constructor/README.md
  challenges/00137-easy-class-inheritance-with-overriding-constructor/info.yml
  challenges/00137-easy-class-inheritance-with-overriding-constructor/solution.md
Due: none

chore: create discussion for challenge #137 - Class inheritance with overriding constructor
  challenges/00137-easy-class-inheritance-with-overriding-constructor/info.yml
Due: none

chore: update index
  README.md
  challenges/00137-easy-class-inheritance-with-overriding-constructor/README.md
Due: none

fix tiny ui bug
  components/common/Logo.tsx
  components/ui/tabs.tsx
Due: eslint --fix --cache

fix type-chalenges link
  README.md
Due: none

add husky
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

remove unecessary husky command
  .husky/pre-commit
Due: none

remove use of nuqs
  package.json
  website/app/submit/quiz/client.tsx
Due: eslint --fix --cache, prettier --write --cache

refactor types
  scripts/actions/issue-pr.ts
  scripts/actions/labeling.ts
  scripts/actions/loader.ts
  scripts/actions/pr-discussion.ts
  scripts/types.ts
  types/index.ts
Due: eslint --fix --cache

update dependencies
  package.json
  pnpm-lock.yaml
  website/package.json
Due: prettier --write --cache

update workflows to use pnpm action
  .github/workflows/index-update.yml
  .github/workflows/issue-pr.yml
  .github/workflows/labeling.yml
  .github/workflows/pr-discussion.yml
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  prettier --write --cache: any of: *.{css,json}
