Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

feat(question): add #358 - Closure 3
  challenges/358-closure-3/README.md
  challenges/358-closure-3/info.yml
  challenges/358-closure-3/solution.md
Due: none

chore: update index
  README.md
  challenges/358-closure-3/README.md
Due: none

feat(question): add #360 - Reconcilation Bug
  challenges/360-reconcilation-bug/README.md
  challenges/360-reconcilation-bug/info.yml
  challenges/360-reconcilation-bug/template.react.md
Due: none

chore: update index
  README.md
  challenges/360-reconcilation-bug/README.md
Due: none

feat(question): add #364 - Remounting
  challenges/364-remounting/README.md
  challenges/364-remounting/info.yml
  challenges/364-remounting/template.react.md
Due: none

feat(question): add #366 - Reconcilation 2
  challenges/366-reconcilation-2/README.md
  challenges/366-reconcilation-2/info.yml
  challenges/366-reconcilation-2/template.react.md
Due: none

feat(question): add #368 - re-render 4
  challenges/368-re-render-4/README.md
  challenges/368-re-render-4/info.yml
  challenges/368-re-render-4/template.react-ts.md
Due: none

feat(question): add #372 - re-render 5
  challenges/372-re-render-5/README.md
  challenges/372-re-render-5/info.yml
  challenges/372-re-render-5/template.react.md
Due: none

feat(question): add #374 - Stale Callback
  challenges/374-stale-callback/README.md
  challenges/374-stale-callback/info.yml
  challenges/374-stale-callback/template.react.md
Due: none

feat(question): add #376 - Stale Refs
  challenges/376-stale-refs/README.md
  challenges/376-stale-refs/info.yml
  challenges/376-stale-refs/template.react.md
Due: none

feat(question): add #378 - useDebounce
  challenges/378-usedebounce/README.md
  challenges/378-usedebounce/info.yml
  challenges/378-usedebounce/template.react.md
Due: none

add react-ts
  packages/shared/src/templates/index.ts
  packages/shared/src/templates/react-typescript.ts
  packages/website/components/editor/MonacoEditor.tsx
  packages/website/components/interfaces/playground/PlaygroundEditor.tsx
  roadmaps/javascript/info.yml
Due: eslint --fix --cache

fix vercel build issue
  packages/backend/src/db/challenges.ts
  packages/backend/src/db/roadmaps.ts
  packages/backend/src/db/templates.ts
  packages/shared/src/types/index.ts
  packages/website/app/(editor)/challenges/[slug]/Question.tsx
  packages/website/app/(editor)/challenges/[slug]/Quiz.tsx
  packages/website/app/(editor)/challenges/[slug]/page.tsx
  packages/website/components/common/Spotlight.tsx
  packages/website/components/interfaces/challenges/Breadcrumb.tsx
  packages/website/components/interfaces/challenges/ChallengeList.tsx
  packages/website/components/interfaces/challenges/ChallengeListItem.tsx
  packages/website/components/interfaces/challenges/ChallengesListWithFilters.tsx
  packages/website/components/interfaces/home/RecentlyAddedChallenges.tsx
  packages/website/components/layout/Header.tsx
  packages/website/hooks/useFilteredChallenges.ts
  packages/website/providers/ChallengesProvider.tsx
  packages/website/providers/index.tsx
  packages/website/utils/categories.ts
  packages/website/utils/challenges.ts
Due: eslint --fix --cache

feat(question): add #380 - News Board
  challenges/380-news-board/README.md
  challenges/380-news-board/info.yml
  challenges/380-news-board/template.react.md
Due: none

chore: update index
  README.md
  challenges/174-re-render-3/README.md
  challenges/364-remounting/README.md
  challenges/366-reconcilation-2/README.md
  challenges/368-re-render-4/README.md
  challenges/372-re-render-5/README.md
  challenges/374-stale-callback/README.md
  challenges/376-stale-refs/README.md
  challenges/378-usedebounce/README.md
  challenges/380-news-board/README.md
Due: none

update sandpack
  packages/website/components/editor/CodeEditor.tsx
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

add support for theory
  packages/scripts/actions/issue-pr.ts
  packages/shared/src/types/index.ts
  packages/website/app/submit/question/client.tsx
  packages/website/app/submit/theory/Step1Header.tsx
  packages/website/app/submit/theory/Step2Fields.tsx
  packages/website/app/submit/theory/Step2Header.tsx
  packages/website/app/submit/theory/client.tsx
  packages/website/app/submit/theory/loading.tsx
  packages/website/app/submit/theory/page.tsx
  packages/website/utils/challenges.ts
Due: eslint --fix --cache

fix react-ts icon
  challenges/380-news-board/template.react.md
  packages/website/components/ui/icon.tsx
Due: eslint --fix --cache

fix issue pr workflow for theory type
  packages/scripts/actions/issue-pr.ts
Due: eslint --fix --cache

dump answer for theory questions into readme
  .github/workflows/issue-pr.yml
  packages/scripts/actions/issue-pr.ts
Due: eslint --fix --cache

fix typo
  packages/scripts/actions/issue-pr.ts
Due: eslint --fix --cache

feat(question): add #383 - Can you describe the reconciliation process?
  challenges/383-can-you-describe-the-reconciliation-process/README.md
  challenges/383-can-you-describe-the-reconciliation-process/info.yml
Due: none

add theory challenge page
  .github/workflows/issue-pr.yml
  packages/shared/src/types/index.ts
  packages/website/app/(editor)/challenges/[slug]/TheoryChallenge.tsx
  packages/website/app/(editor)/challenges/[slug]/page.tsx
Due: eslint --fix --cache

add theory challenge page
  packages/website/app/(editor)/challenges/[slug]/TheoryChallenge.tsx
Due: eslint --fix --cache

build error
  packages/website/utils/answers.ts
Due: eslint --fix --cache

update answer for reconcilation
  challenges/383-can-you-describe-the-reconciliation-process/README.md
Due: none

feat(question): add #385 - useReducer
  challenges/385-usereducer/README.md
  challenges/385-usereducer/info.yml
  challenges/385-usereducer/template.react.md
Due: none

feat(question): add #385 - useReducer
  challenges/385-usereducer/template.react.md
Due: none

minor ui update
  packages/website/app/globals.css
  packages/website/components/ui/button.tsx
Due: eslint --fix --cache, prettier --write --cache

upgrade tailwind v4
  challenges/174-re-render-3/info.yml
  challenges/368-re-render-4/info.yml
  challenges/372-re-render-5/info.yml
  challenges/378-usedebounce/info.yml
  packages/website/app/globals.css
  packages/website/components/ui/button.tsx
Due: eslint --fix --cache, prettier --write --cache

chore: update index
  README.md
  challenges/174-re-render-3/README.md
  challenges/368-re-render-4/README.md
  challenges/372-re-render-5/README.md
  challenges/378-usedebounce/README.md
  challenges/383-can-you-describe-the-reconciliation-process/README.md
  challenges/385-usereducer/README.md
Due: none

fix build errors
  packages/website/.vscode/settings.json
  packages/website/app/(default)/roadmaps/[slug]/page.tsx
  packages/website/app/globals.css
  packages/website/app/submit/question/client.tsx
  packages/website/app/submit/quiz/client.tsx
  packages/website/components/common/CompletionStats.tsx
  packages/website/components/common/Spotlight.tsx
  packages/website/components/common/SubmissionNavigator.tsx
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/editor/FileExplorer.tsx
  packages/website/components/interfaces/auth/SignInButton.tsx
  packages/website/components/interfaces/challenges/Breadcrumb.tsx
  packages/website/components/interfaces/home/CategoryList.tsx
  packages/website/components/ui/checkbox.tsx
  packages/website/components/ui/navigation-menu.tsx
  packages/website/components/ui/radio-group.tsx
  packages/website/components/ui/resizable.tsx
  packages/website/components/ui/select.tsx
  packages/website/components/ui/tabs.tsx
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #389 - useEffect
  challenges/389-useeffect/README.md
  challenges/389-useeffect/info.yml
  challenges/389-useeffect/solution.md
Due: none

feat(question): add #391 - useEffect 2
  challenges/391-useeffect-2/README.md
  challenges/391-useeffect-2/info.yml
  challenges/391-useeffect-2/solution.md
Due: none

feat(question): add #393 - useEffect 3
  challenges/393-useeffect-3/README.md
  challenges/393-useeffect-3/info.yml
  challenges/393-useeffect-3/solution.md
Due: none

fix ui button issue
  packages/website/components/ui/button.tsx
Due: eslint --fix --cache

solutions for some answers
  challenges/389-useeffect/solution.md
  challenges/391-useeffect-2/solution.md
  challenges/393-useeffect-3/solution.md
  packages/website/components/ui/tabs.tsx
Due: eslint --fix --cache

feat(question): add #395 - useEffect 4
  challenges/395-useeffect-4/README.md
  challenges/395-useeffect-4/info.yml
  challenges/395-useeffect-4/solution.md
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  prettier --write --cache: any of: *.{css,json}
