Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

update workflow
  .github/workflows/index-update.yml
  .github/workflows/pr-discussion.yml
  scripts/actions/issue-discussion.ts
Due: eslint --fix --cache

update workflow
  scripts/actions/pr-discussion.ts
Due: eslint --fix --cache

update workflow
  .github/workflows/pr-discussion.yml
  scripts/actions/issue-discussion.ts
Due: eslint --fix --cache

create discussion for each challenge on PR merged
  scripts/actions/pr-discussion.ts
Due: eslint --fix --cache

feat(question): add #61 - Logical Operators
  challenges/00061-easy-logical-operators/README.md
  challenges/00061-easy-logical-operators/info.yml
Due: none

fix workflow for creating discussions
  scripts/actions/pr-discussion.ts
Due: eslint --fix --cache

feat(question): add #61 - Logical Operators
  challenges/00061-easy-logical-operators/info.yml
Due: none

chore: create discussion for challenge #61 - Logical Operators
  challenges/00061-easy-logical-operators/info.yml
Due: none

add solution.md for #61
  challenges/00061-easy-logical-operators/solution.md
Due: none

chore: update index
  README.md
  challenges/00061-easy-logical-operators/README.md
Due: none

fix filters
  app/challenges/[slug]/Solution.tsx
  app/challenges/page.tsx
  components/challenges/ChallengeListFilter.tsx
  components/challenges/ChallengeListFilterMobile.tsx
  components/challenges/ChallengeListWithFilters.tsx
  components/home/Hero.tsx
  components/ui/checkbox-button.tsx
  components/ui/checkbox.tsx
  components/ui/command.tsx
  components/ui/radio-group.tsx
Due: eslint --fix --cache

chore: update index
  package-lock.json
Due: prettier --write --cache

add sitemap + robots.txt
  app/sitemap.ts
  components/editor/MarkCompleteButton.tsx
  public/robots.txt
Due: eslint --fix --cache

add og image
  app/layout.tsx
  app/opengraph-image.tsx
  assets/fonts/inter/Inter-Bold.ttf
  assets/fonts/inter/Inter-Medium.ttf
  assets/fonts/inter/Inter-Regular.ttf
  components/home/Hero.tsx
Due: eslint --fix --cache

add og image
  app/layout.tsx
  app/opengraph-image.tsx
  public/images/og.png
Due: eslint --fix --cache

add og image
  app/layout.tsx
  components/questions/QuestionListItem.tsx
  db/challenge.ts
  package-lock.json
  package.json
  public/images/github-background.png
  public/images/og.png
  public/next.svg
  public/og.png
  public/vercel.svg
  scripts/build.ts
Due: eslint --fix --cache, prettier --write --cache

fix build issue
  db/challenge.ts
Due: eslint --fix --cache

update metadata
  app/layout.tsx
Due: eslint --fix --cache

update metadata
  app/challenges/[slug]/page.tsx
  app/layout.tsx
Due: eslint --fix --cache

tiny refactor
  components/common/SubmissionNavigator.tsx
  components/layout/Header.tsx
Due: eslint --fix --cache

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  prettier --write --cache: any of: *.{css,json}
