Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

feat(question): add #8 - Closure
  quizzes/00008-easy-closure/README.md
  quizzes/00008-easy-closure/info.yml
  quizzes/00008-easy-closure/solution.md
Due: none

minor updates
  .github/workflows/issue-pr.yml
  app/quizzes/[slug]/Solution.tsx
  components/editor/SandpackRoot.tsx
Due: eslint --fix --cache

update readme scripts
  db/question.ts
  quizzes/00008-easy-closure/info.yml
  scripts/readme.ts
  utils/readme.ts
  utils/url.ts
Due: eslint --fix --cache

make homepage + question page responsive
  README.md
  app/page.tsx
  app/questions/page.tsx
  app/quizzes/page.tsx
  components/editor/ResizableLayout.tsx
  components/editor/SandpackRoot.tsx
  components/editor/ShareSolutionButton.tsx
  components/home/Hero.tsx
  components/mdx/index.tsx
  components/questions/LayoutChanger.tsx
  components/questions/QuestionListItem.tsx
  components/ui/badge.tsx
  hooks/index.ts
  hooks/useIsMounted.ts
  quizzes/00008-easy-closure/README.md
  quizzes/0007-easy-promise-order/README.md
Due: eslint --fix --cache

fix type errors
  db/question.ts
  scripts/readme.ts
Due: eslint --fix --cache

revert making responsive questions page
  components/editor/ResizableLayout.tsx
Due: eslint --fix --cache

revert responsive of question page
  app/questions/[slug]/client.tsx
  components/editor/CodeEditor.tsx
  components/editor/Preview.tsx
  components/editor/ResizableLayout.tsx
Due: eslint --fix --cache

make questions page responsive
  app/questions/[slug]/client.tsx
  components/editor/CodeEditor.tsx
  components/editor/ResizableLayout.tsx
Due: eslint --fix --cache

update issue-pr workflow to include type in info
  scripts/actions/issue-pr.ts
Due: eslint --fix --cache

feat(question): add #10 - classNames
  challenges/00010-medium-classnames/README.md
  challenges/00010-medium-classnames/info.yml
  challenges/00010-medium-classnames/template.javascript.md
Due: none

chore: update index
  README.md
Due: none

feat(question): add #10 - classNames
  challenges/00010-medium-classnames/info.yml
  challenges/00010-medium-classnames/template.javascript.md
Due: none

feat(question): add #13 - IsEmpty
  challenges/00013-medium-isempty/README.md
  challenges/00013-medium-isempty/info.yml
  challenges/00013-medium-isempty/template.javascript.md
Due: none

feat(question): add #16 - React re-render
  challenges/00016-medium-react-re-render/README.md
  challenges/00016-medium-react-re-render/info.yml
  challenges/00016-medium-react-re-render/template.react.md
Due: none

rename challenges workflow
  .github/workflows/labeling.yml
  README.md
  app/challenges/[slug]/Question.tsx
  app/globals.css
  app/page.tsx
  challenges/0001-easy-rtl-icon/README.md
  challenges/00010-medium-classnames/README.md
  challenges/00013-medium-isempty/README.md
  challenges/00016-medium-re-render/README.md
  challenges/00016-medium-re-render/info.yml
  challenges/00016-medium-re-render/template.react.md
  challenges/00016-medium-react-re-render/README.md
  components/editor/CodeEditor.tsx
  components/questions/AnswerList.tsx
  components/questions/QuestionListItem.tsx
  components/ui/dialog.tsx
  components/ui/sheet.tsx
  scripts/actions/labeling.ts
  scripts/readme.ts
  utils/readme.ts
  utils/url.ts
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #18 - flatten
  challenges/00018-easy-flatten/README.md
  challenges/00018-easy-flatten/info.yml
  challenges/00018-easy-flatten/template.javascript.md
Due: none

feat(question): add #20 - Throttle
  challenges/00020-hard-throttle/README.md
  challenges/00020-hard-throttle/info.yml
  challenges/00020-hard-throttle/template.javascript.md
Due: none

feat(question): add #20 - throttle
  challenges/00020-hard-throttle/info.yml
Due: none

change order of labels when fetching github issues
  db/answers.ts
  utils/url.ts
Due: eslint --fix --cache

chore: update index
  README.md
  challenges/00008-easy-closure/README.md
  challenges/0001-easy-rtl-icon/README.md
  challenges/00010-medium-classnames/README.md
  challenges/00013-medium-isempty/README.md
  challenges/00016-medium-re-render/README.md
  challenges/00018-easy-flatten/README.md
  challenges/0002-easy-click-outisde/README.md
  challenges/00020-hard-throttle/README.md
  challenges/0003-medium-use-hover/README.md
  challenges/0004-hard-use-focus-trap/README.md
  challenges/0005-medium-fluid-typography/README.md
  challenges/0006-hard-debounce/README.md
  challenges/0007-easy-promise-order/README.md
Due: none

refactor
  components/common/SubmissionNavigator.tsx
  components/common/ThemeChanger.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/ui/dropdown-menu.tsx
  scripts/actions/labeling.ts
Due: eslint --fix --cache

refactor readme
  scripts/readme.ts
  utils/readme.ts
  utils/url.ts
Due: eslint --fix --cache

fix ui of answerlist
  components/questions/AnswerList.tsx
Due: eslint --fix --cache

add revalidate time in challenge page
  app/challenges/[slug]/page.tsx
Due: eslint --fix --cache

add template for submitting challenge
  utils/questions.ts
Due: eslint --fix --cache

chore: update index
  challenges/00008-easy-closure/README.md
  challenges/0001-easy-rtl-icon/README.md
  challenges/00010-medium-classnames/README.md
  challenges/00013-medium-isempty/README.md
  challenges/00016-medium-re-render/README.md
  challenges/00018-easy-flatten/README.md
  challenges/0002-easy-click-outisde/README.md
  challenges/00020-hard-throttle/README.md
  challenges/0003-medium-use-hover/README.md
  challenges/0004-hard-use-focus-trap/README.md
  challenges/0005-medium-fluid-typography/README.md
  challenges/0006-hard-debounce/README.md
  challenges/0007-easy-promise-order/README.md
Due: none

fix description of focus trap challenge
  app/page.tsx
  challenges/0004-hard-use-focus-trap/README.md
  challenges/0004-hard-use-focus-trap/template.react.md
  components/icons/CssColorIcon.tsx
  components/icons/index.tsx
  components/ui/icon.tsx
  constants.ts
Due: eslint --fix --cache

feat(question): add #32 - InstanceOfClass
  challenges/00032-easy-instanceofclass/README.md
  challenges/00032-easy-instanceofclass/info.yml
  challenges/00032-easy-instanceofclass/template.javascript.md
Due: none

chore: update index
  README.md
  challenges/00032-easy-instanceofclass/README.md
Due: none

feat(question): add #35 - Promise.all
  challenges/00035-hard-promise-all/README.md
  challenges/00035-hard-promise-all/info.yml
  challenges/00035-hard-promise-all/template.javascript.md
Due: none

feat(question): add #37 - Promise.race
  challenges/00037-hard-promise-race/README.md
  challenges/00037-hard-promise-race/info.yml
Due: none

feat(question): add #37 - Promise.race
  challenges/00037-hard-promise-race/template.javascript.md
Due: none

add tidy button
  app/globals.css
  app/page.tsx
  components/common/ThemeChanger.tsx
  components/editor/CodeEditor.tsx
  components/icons/TidyIcon.tsx
  components/ui/button.tsx
  components/ui/icon-button.tsx
  components/ui/icon.tsx
  package-lock.json
  package.json
  utils/helpers.ts
Due: eslint --fix --cache, prettier --write --cache

add filter
  components/challenges/ChallengeListFilter.tsx
  components/challenges/ChallengeListWithFilters.tsx
  components/ui/button.tsx
  components/ui/command.tsx
  components/ui/icon.tsx
  constants.ts
  db/challenge.ts
  package-lock.json
  package.json
  types/index.ts
Due: eslint --fix --cache, prettier --write --cache

chore: update index
  README.md
  challenges/00035-hard-promise-all/README.md
  challenges/00037-hard-promise-race/README.md
Due: none

feat(question): add #40 - Layout 1
  challenges/00040-easy-layout-1/README.md
  challenges/00040-easy-layout-1/info.yml
  challenges/00040-easy-layout-1/template.vanilla.md
Due: none

add console
  app/globals.css
  challenges/00040-easy-layout-1/README.md
  challenges/00040-easy-layout-1/info.yml
  challenges/00040-easy-layout-1/template.vanilla.md
  components/editor/Preview.tsx
  components/editor/SandpackRoot.tsx
  components/ui/command.tsx
  components/ui/popover.tsx
  components/ui/toggle.tsx
Due: eslint --fix --cache, prettier --write --cache

fix readme for easy-layout
  challenges/00040-easy-layout-1/README.md
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  prettier --write --cache: any of: *.{css,json}
