Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

feat(question): add #315 - Non-overlapping Intervals
  challenges/315-non-overlapping-intervals/README.md
  challenges/315-non-overlapping-intervals/info.yml
  challenges/315-non-overlapping-intervals/template.typescript.md
Due: none

feat(question): add #317 - Meeting Schedule
  challenges/317-meeting-schedule/README.md
  challenges/317-meeting-schedule/info.yml
  challenges/317-meeting-schedule/template.typescript.md
Due: none

feat(question): add #319 - Meeting Schedule II
  challenges/319-meeting-schedule-ii/README.md
  challenges/319-meeting-schedule-ii/info.yml
  challenges/319-meeting-schedule-ii/template.typescript.md
Due: none

feat(question): add #321 - Rotate Matrix
  challenges/321-rotate-matrix/README.md
  challenges/321-rotate-matrix/info.yml
  challenges/321-rotate-matrix/template.typescript.md
Due: none

feat(question): add #323 - Spiral Matrix
  challenges/323-spiral-matrix/README.md
  challenges/323-spiral-matrix/info.yml
  challenges/323-spiral-matrix/template.typescript.md
Due: none

feat(question): add #325 - Set Zeroes in Matrix
  challenges/325-set-zeroes-in-matrix/README.md
  challenges/325-set-zeroes-in-matrix/info.yml
  challenges/325-set-zeroes-in-matrix/template.typescript.md
Due: none

feat(question): add #327 - Number of One Bits
  challenges/327-number-of-one-bits/README.md
  challenges/327-number-of-one-bits/info.yml
  challenges/327-number-of-one-bits/template.typescript.md
Due: none

feat(question): add #329 - Counting Bits
  challenges/329-counting-bits/README.md
  challenges/329-counting-bits/info.yml
  challenges/329-counting-bits/template.typescript.md
Due: none

feat(question): add #331 - Reverse Bits
  challenges/331-reverse-bits/README.md
  challenges/331-reverse-bits/info.yml
  challenges/331-reverse-bits/template.typescript.md
Due: none

feat(question): add #333 - Missing Number
  challenges/333-missing-number/README.md
  challenges/333-missing-number/info.yml
  challenges/333-missing-number/template.typescript.md
Due: none

feat(question): add #335 - Sum of Two Integers
  challenges/335-sum-of-two-integers/README.md
  challenges/335-sum-of-two-integers/info.yml
  challenges/335-sum-of-two-integers/template.typescript.md
Due: none

fix styles in footer
  packages/website/components/layout/Footer.tsx
Due: eslint --fix --cache

update blind75 list
  packages/website/components/common/SubmissionNavigator.tsx
  roadmaps/blind75/info.yml
Due: eslint --fix --cache

add notes
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/components/editor/Notes.tsx
  packages/website/hooks/useMobile.ts
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #340 - Escape the overflow hidden
  challenges/340-escape-the-overflow-hidden/README.md
  challenges/340-escape-the-overflow-hidden/info.yml
  challenges/340-escape-the-overflow-hidden/template.static.md
Due: none

add layout manager
  packages/shared/src/templates/index.ts
  packages/shared/src/templates/static.ts
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/globals.css
  packages/website/app/play/client.tsx
  packages/website/components/editor/Console.tsx
  packages/website/components/editor/DynamicResizableHandle.tsx
  packages/website/components/editor/DynamicResizableLayout.tsx
  packages/website/components/editor/DynamicResizablePanel.tsx
  packages/website/components/editor/LayoutManager.ts
  packages/website/components/editor/MonacoEditor.tsx
  packages/website/components/editor/SandpackRoot.tsx
  packages/website/components/editor/TemplateChanger.tsx
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

fix auto height issue
  packages/website/app/challenges/[slug]/Breadcrumb.tsx
Due: eslint --fix --cache

add static color icon
  packages/website/components/ui/icon.tsx
Due: eslint --fix --cache

fix auto height issue
  packages/website/app/challenges/[slug]/Breadcrumb.tsx
  packages/website/components/editor/SandpackRoot.tsx
  packages/website/components/questions/AnswerList.tsx
  packages/website/utils/answers.ts
Due: eslint --fix --cache

fix build issue
  challenges/340-escape-the-overflow-hidden/info.yml
  packages/website/components/editor/SandpackRoot.tsx
Due: eslint --fix --cache

chore: update index
  README.md
  challenges/340-escape-the-overflow-hidden/README.md
Due: none

add drag manager
  packages/website/app/challenges/[slug]/Breadcrumb.tsx
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/challenges/[slug]/Solution.tsx
  packages/website/app/globals.css
  packages/website/app/play/client.tsx
  packages/website/app/play/dynamic-client.ts
  packages/website/app/play/page.tsx
  packages/website/app/play/utils.ts
  packages/website/app/roadmaps/[slug]/page.tsx
  packages/website/components/editor/Description.tsx
  packages/website/components/editor/DragManager.ts
  packages/website/db/answers.ts
Due: eslint --fix --cache, prettier --write --cache

add layout manager + fix build issue
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/play/client.tsx
  packages/website/app/submit/question/Step2Fields.tsx
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/editor/Console.tsx
  packages/website/components/editor/DragManager.ts
  packages/website/components/editor/DynamicResizableLayout.tsx
  packages/website/components/editor/DynamicResizablePanel.tsx
  packages/website/components/editor/EditDropdown.tsx
  packages/website/components/editor/LayoutManager.ts
  packages/website/components/editor/ResizableLayout.tsx
  packages/website/components/editor/SandpackRoot.tsx
  packages/website/components/editor/ShareSolutionButton.tsx
  packages/website/components/editor/components/DropZoneIndicator.tsx
  packages/website/components/editor/hooks/useDragAndDrop.ts
  packages/website/components/editor/types.ts
  packages/website/components/home/CategoryList.tsx
  packages/website/components/mdx/Sandpack.tsx
  packages/website/components/mdx/index.tsx
  packages/website/components/questions/AnswerList.tsx
  packages/website/package.json
  packages/website/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

fix mobile layout
  packages/website/app/play/client.tsx
  packages/website/components/editor/Console.tsx
  packages/website/components/editor/DynamicResizablePanel.tsx
  packages/website/components/editor/LayoutManager.ts
Due: eslint --fix --cache

feat(question): add #346 - Promise Order
  challenges/346-promise-order/README.md
  challenges/346-promise-order/info.yml
  challenges/346-promise-order/solution.md
Due: none

feat(question): add #348 - Promise Resolution Order
  challenges/348-promise-resolution-order/README.md
  challenges/348-promise-resolution-order/info.yml
  challenges/348-promise-resolution-order/solution.md
Due: none

feat(question): add #350 - Promise Chain Output
  challenges/350-promise-chain-output/README.md
  challenges/350-promise-chain-output/info.yml
  challenges/350-promise-chain-output/solution.md
Due: none

feat(question): add #352 - Promise Chain Output 2
  challenges/352-promise-chain-output-2/README.md
  challenges/352-promise-chain-output-2/info.yml
  challenges/352-promise-chain-output-2/solution.md
Due: none

chore: update index
  README.md
  challenges/346-promise-order/README.md
  challenges/348-promise-resolution-order/README.md
  challenges/350-promise-chain-output/README.md
  challenges/352-promise-chain-output-2/README.md
Due: none

fix resizable layout
  challenges/340-escape-the-overflow-hidden/template.static.md
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/challenges/[slug]/useChallengeLayout.tsx
  packages/website/app/play/client.tsx
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/editor/DragManager.ts
  packages/website/components/editor/MonacoEditor.tsx
  packages/website/components/editor/ResizableLayout.tsx
  packages/website/components/editor/ResizableLayoutTab.tsx
  packages/website/components/questions/LayoutChanger.tsx
  packages/website/components/ui/resizable.tsx
  packages/website/components/ui/select.tsx
  packages/website/components/ui/slider.tsx
  packages/website/components/ui/toggle-group.tsx
  packages/website/components/ui/toggle.tsx
  packages/website/package.json
  packages/website/providers/index.tsx
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

updated package lock file
  pnpm-lock.yaml
Due: none

refactor
  package.json
  packages/backend/package.json
  packages/backend/src/db/challenges.ts
  packages/backend/src/db/roadmaps.ts
  packages/backend/src/utils/index.ts
  packages/backend/src/utils/markdown.ts
  packages/scripts/generate-play.ts
  packages/scripts/readme.ts
  packages/scripts/utils/toInfoHeader.ts
  packages/website/app/(default)/blog/[slug]/page.tsx
  packages/website/app/(default)/blog/page.tsx
  packages/website/app/(default)/categories/[category]/page.tsx
  packages/website/app/(default)/page.tsx
  packages/website/app/(default)/roadmaps/[slug]/page.tsx
  packages/website/app/(default)/roadmaps/page.tsx
  packages/website/app/(editor)/challenges/[slug]/page.tsx
  packages/website/app/categories/[category]/page.tsx
  packages/website/app/layout.tsx
  packages/website/app/sitemap.ts
  packages/website/components/challenges/ChallengeListFilterMobile.tsx
  packages/website/components/challenges/ChallengeListSort.tsx
  packages/website/components/challenges/ChallengeListWithFilters.tsx
  packages/website/components/challenges/filters-mobile/ChallengeCategoryFilterMobile.tsx
  packages/website/components/challenges/filters-mobile/ChallengeDifficultyFilterMobile.tsx
  packages/website/components/challenges/filters-mobile/ChallengeTypeFilterMobile.tsx
  packages/website/components/challenges/filters/ChallengeCategoryFilter.tsx
  packages/website/components/challenges/filters/ChallengeDifficultyFilter.tsx
  packages/website/components/challenges/filters/ChallengeSearchFilter.tsx
  packages/website/components/challenges/filters/ChallengeTypeFilter.tsx
  packages/website/components/editor/EditDropdown.tsx
  packages/website/components/interfaces/home/Hero.tsx
  packages/website/components/layout/Header.tsx
  packages/website/hooks/useAnalytics.ts
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #356 - Hositing
  challenges/356-hositing/README.md
  challenges/356-hositing/info.yml
  challenges/356-hositing/solution.md
Due: none

fix submission pages
  packages/website/app/submit/layout.tsx
  packages/website/app/submit/question/Step2Fields.tsx
  packages/website/app/submit/question/client.tsx
  packages/website/app/submit/quiz/client.tsx
  packages/website/components/editor/FileExplorer.tsx
  packages/website/components/editor/ResizableLayoutTab.tsx
Due: eslint --fix --cache

fix url of hoisitng question
  challenges/356-hoisting/README.md
  challenges/356-hoisting/info.yml
  challenges/356-hoisting/solution.md
Due: none

chore: update index
  README.md
  challenges/356-hoisting/README.md
Due: none

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  prettier --write --cache: any of: *.{css,json}
