Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --cache"],
  "*.{css,json}": ["prettier --write --cache"]
}

revert monaco editor
  components/editor/CodeEditor.tsx
Due: eslint --fix --cache

chore: update index
  package-lock.json
Due: prettier --write --cache

use monaco editor
  app/challenges/[slug]/Question.tsx
  app/play/client.tsx
  challenges/00010-medium-classnames/template.javascript.md
  challenges/00013-medium-isempty/template.javascript.md
  challenges/00018-easy-flatten/template.javascript.md
  challenges/00035-hard-promise-all/template.javascript.md
  challenges/00055-medium-memo/template.javascript.md
  challenges/00058-medium-event-emitter/template.javascript.md
  challenges/0006-hard-debounce/template.javascript.md
  challenges/00069-easy-two-functions-one-object/template.javascript.md
  challenges/00074-easy-array-prototype-filter/template.javascript.md
  challenges/00078-easy-array-prototype-map/template.javascript.md
  challenges/00082-medium-array-prototype-reduce/template.javascript.md
  challenges/00086-easy-chunk/template.javascript.md
  components/editor/CodeEditor.tsx
  components/editor/MonacoEditor.tsx
  components/questions/AnswerList.tsx
  templates/tests.ts
Due: eslint --fix --cache

feat(question): add #91 - Stack
  challenges/00091-easy-stack/README.md
  challenges/00091-easy-stack/info.yml
  challenges/00091-easy-stack/template.javascript.md
Due: none

fix theme in moncao editor
  components/editor/MonacoEditor.tsx
Due: eslint --fix --cache

chore: create discussion for challenge #91 - Stack
  challenges/00091-easy-stack/info.yml
Due: none

chore: update index
  README.md
  challenges/00091-easy-stack/README.md
Due: none

feat(question): add #95 - Queue
  challenges/00095-easy-queue/README.md
  challenges/00095-easy-queue/info.yml
  challenges/00095-easy-queue/template.javascript.md
Due: none

chore: create discussion for challenge #95 - Queue
  challenges/00095-easy-queue/info.yml
Due: none

chore: update index
  README.md
  challenges/00095-easy-queue/README.md
Due: none

minor fixes
  components/editor/MonacoEditor.tsx
  components/layout/Header.tsx
  db/answers.ts
Due: eslint --fix --cache

add logs
  components/editor/Preview.tsx
  package-lock.json
Due: eslint --fix --cache, prettier --write --cache

update border radius on button
  components/editor/Preview.tsx
  tailwind.config.js
Due: eslint --fix --cache

host custom bundler
  components/editor/SandpackRoot.tsx
Due: eslint --fix --cache

feat(question): add #99 - Closure 2
  challenges/00099-easy-closure-2/README.md
  challenges/00099-easy-closure-2/info.yml
  challenges/00099-easy-closure-2/template.javascript.md
Due: none

chore: create discussion for challenge #99 - Closure 2
  challenges/00099-easy-closure-2/info.yml
Due: none

chore: update index
  README.md
  challenges/00099-easy-closure-2/README.md
Due: none

feat(question): add #104 - Queue using Stack
  challenges/00104-easy-queue-using-stack/README.md
  challenges/00104-easy-queue-using-stack/info.yml
  challenges/00104-easy-queue-using-stack/template.javascript.md
Due: none

chore: create discussion for challenge #104 - Queue using Stack
  challenges/00104-easy-queue-using-stack/info.yml
Due: none

chore: update index
  README.md
  challenges/00104-easy-queue-using-stack/README.md
Due: none

ux improvements
  app/globals.css
  app/layout.tsx
  challenges/00095-easy-queue/template.javascript.md
  challenges/00104-easy-queue-using-stack/README.md
  challenges/00104-easy-queue-using-stack/template.javascript.md
  components/common/Logo.tsx
  components/common/Spotlight.tsx
  components/editor/CodeEditor.tsx
  components/editor/MarkCompleteButton.tsx
  components/editor/MonacoEditor.tsx
  components/editor/Preview.tsx
  components/editor/SandpackRoot.tsx
  components/home/Hero.tsx
  components/icons/LockIcon.tsx
  components/icons/index.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/mdx/index.tsx
  components/questions/AnswerList.tsx
  components/ui/button.tsx
  components/ui/card.tsx
  components/ui/command.tsx
  components/ui/dialog.tsx
  components/ui/dropdown-menu.tsx
  components/ui/icon-button.tsx
  components/ui/icon.tsx
  components/ui/input.tsx
  components/ui/menubar.tsx
  components/ui/popover.tsx
  components/ui/select.tsx
  components/ui/separator.tsx
  components/ui/sheet.tsx
  components/ui/tabs.tsx
  components/ui/textarea.tsx
  components/ui/toggle-group.tsx
  package-lock.json
  package.json
  tailwind.config.js
Due: eslint --fix --cache, prettier --write --cache

fix types
  components/editor/Preview.tsx
Due: eslint --fix --cache

remove console
  components/editor/Preview.tsx
  package-lock.json
  package.json
Due: eslint --fix --cache, prettier --write --cache

update package.json
  package-lock.json
  package.json
Due: prettier --write --cache

add console
  app/challenges/[slug]/Question.tsx
  app/play/client.tsx
  challenges/0006-hard-debounce/template.javascript.md
  components/editor/Console.tsx
  components/editor/MonacoEditor.tsx
  components/editor/Preview.tsx
  components/editor/ResizableLayout.tsx
  components/icons/ChevronDownIcon.tsx
  components/icons/ChevronUpIcon.tsx
  components/icons/LogAllIcon.tsx
  components/icons/LogClearIcon.tsx
  components/icons/LogErrorIcon.tsx
  components/icons/LogInfoIcon.tsx
  components/icons/LogiWarningIcon.tsx
  components/icons/index.tsx
  components/ui/icon.tsx
  package-lock.json
  package.json
Due: eslint --fix --cache, prettier --write --cache

Update template.javascript.md
  challenges/00095-easy-queue/template.javascript.md
Due: none

feat(question): add #109 - jest.spyOn
  challenges/00109-easy-jest-spyon/README.md
  challenges/00109-easy-jest-spyon/info.yml
  challenges/00109-easy-jest-spyon/template.javascript.md
Due: none

chore: create discussion for challenge #109 - SpyOn
  challenges/00109-easy-jest-spyon/info.yml
Due: none

chore: update index
  README.md
  challenges/00109-easy-jest-spyon/README.md
Due: none

fix study plan yml
  study-plans/javascript/info.yml
Due: none

add hero image + minor improvements
  app/challenges/[slug]/Question.tsx
  app/globals.css
  app/submit/question/client.tsx
  components/editor/Console.tsx
  components/home/Hero.tsx
  components/home/HeroImage.tsx
  components/questions/AnswerList.tsx
  study-plans/javascript/info.yml
Due: eslint --fix --cache, prettier --write --cache

Update info.yml
  challenges/00109-easy-jest-spyon/info.yml
Due: none

fix monaco popover overflow issue
  app/globals.css
  components/editor/MonacoEditor.tsx
  components/home/Community.tsx
  components/home/Hero.tsx
Due: eslint --fix --cache, prettier --write --cache

minor fixes
  app/challenges/[slug]/Question.tsx
  app/globals.css
  challenges/0002-easy-click-outisde/info.yml
  components/common/Logo.tsx
  components/editor/Console.tsx
  components/home/CategoryList.tsx
  components/home/Hero.tsx
  components/home/HeroImage.tsx
  components/ui/button.tsx
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #113 - Losing "this"
  challenges/00113-easy-losing-this/README.md
  challenges/00113-easy-losing-this/info.yml
  challenges/00113-easy-losing-this/solution.md
Due: none

chore: update index
  README.md
  challenges/00113-easy-losing-this/README.md
Due: none
