Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --cache"],
  "*.{css,json}": ["prettier --write --cache"]
}

update scripts
  package.json
Due: prettier --write --cache

update path in readme script
  package.json
  packages/scripts/readme.ts
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

chore: update index
  README.md
  challenges/00137-easy-overriding-constructor/README.md
Due: none

update logo in readme
  README.md
  packages/website/public/images/logo-readme-dark.png
  packages/website/public/images/logo-readme-light.png
Due: none

remove .env
  .env
  .gitignore
Due: none

update logo in readme
  README.md
Due: none

update logo in readme
  README.md
  packages/website/public/images/logo-readme-dark.svg
  packages/website/public/images/logo-readme-light.svg
Due: none

fix monoco editor types
  packages/website/components/editor/MonacoEditor.tsx
  packages/website/components/editor/Preview.tsx
Due: eslint --fix --cache

update node version in workflow
  .github/workflows/issue-pr.yml
  .github/workflows/labeling.yml
Due: none

fix path in workflows
  .github/workflows/issue-pr.yml
  .github/workflows/labeling.yml
  .github/workflows/pr-discussion.yml
Due: none

feat(question): add #141 - range
  challenges/00141-easy-range/README.md
  challenges/00141-easy-range/info.yml
  challenges/00141-easy-range/template.typescript.md
Due: none

chore: update index
  README.md
  challenges/00141-easy-range/README.md
Due: none

fix issues api + add typescript logo
  packages/website/components/editor/MonacoEditor.tsx
  packages/website/components/icons/TypescriptColorIcon.tsx
  packages/website/components/icons/index.tsx
  packages/website/components/ui/icon.tsx
  packages/website/utils/answers.ts
Due: eslint --fix --cache

feat(question): add #145 - minBy
  challenges/00145-easy-minby/README.md
  challenges/00145-easy-minby/info.yml
  challenges/00145-easy-minby/template.typescript.md
Due: none

dont prefetch challenge pages
  packages/website/next.config.js
Due: eslint --fix --cache

dont prefetch challenge pages
  packages/website/app/page.tsx
  packages/website/components/challenges/ChallengeListItem.tsx
  packages/website/components/home/CategoryList.tsx
  packages/website/next.config.js
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

replace next link with custom
  packages/website/app/challenges/[slug]/Breadcrumb.tsx
  packages/website/components/blog/BlogList.tsx
  packages/website/components/challenges/ChallengeListItem.tsx
  packages/website/components/common/Logo.tsx
  packages/website/components/home/CategoryList.tsx
  packages/website/components/home/Hero.tsx
  packages/website/components/layout/Footer.tsx
  packages/website/components/layout/Header.tsx
  packages/website/components/questions/AnswerList.tsx
  packages/website/components/study-plans/StudyPlanListItem.tsx
  packages/website/components/ui/index.ts
  packages/website/components/ui/link.tsx
Due: eslint --fix --cache

feat(question): add #148 - clamp
  challenges/00148-easy-clamp/README.md
  challenges/00148-easy-clamp/info.yml
  challenges/00148-easy-clamp/template.typescript.md
Due: none

fix path in pr-discussion workflow
  packages/scripts/actions/pr-discussion.ts
Due: eslint --fix --cache

chore: create discussion for challenge #148 - clamp
  challenges/00148-easy-clamp/info.yml
Due: none

feat(question): add #152 - wait
  challenges/00152-medium-wait/README.md
  challenges/00152-medium-wait/info.yml
  challenges/00152-medium-wait/template.typescript.md
Due: none

chore: create discussion for challenge #152 - wait
  challenges/00152-medium-wait/info.yml
Due: none

chore: update index
  README.md
  challenges/00145-easy-minby/README.md
  challenges/00148-easy-clamp/README.md
  challenges/00152-medium-wait/README.md
Due: none

feat(question): add #158 - shuffle
  challenges/00158-medium-shuffle/README.md
  challenges/00158-medium-shuffle/info.yml
  challenges/00158-medium-shuffle/template.typescript.md
Due: none

chore: create discussion for challenge #158 - shuffle
  challenges/00158-medium-shuffle/info.yml
Due: none

chore: update index
  README.md
  challenges/00158-medium-shuffle/README.md
Due: none

feat(question): add #161 - reject
  challenges/00161-easy-reject/README.md
  challenges/00161-easy-reject/info.yml
  challenges/00161-easy-reject/template.typescript.md
Due: none

update tagline
  challenges/00145-easy-minby/template.javascript.md
  packages/website/components/home/Hero.tsx
Due: eslint --fix --cache

make share solution active only when tests passes
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/components/editor/Preview.tsx
  packages/website/components/editor/ShareSolutionButton.tsx
Due: eslint --fix --cache

revert disabling share button
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/components/editor/Preview.tsx
  packages/website/components/editor/ShareSolutionButton.tsx
Due: eslint --fix --cache

chore: create discussion for challenge #161 - reject
  challenges/00161-easy-reject/info.yml
Due: none

chore: update index
  README.md
  challenges/00161-easy-reject/README.md
Due: none

add completion popover in header
  packages/shared/src/constants.ts
  packages/shared/src/types/index.ts
  packages/website/app/[category]/page.tsx
  packages/website/app/challenges/CompletionStats.tsx
  packages/website/app/challenges/page.tsx
  packages/website/app/globals.css
  packages/website/app/layout.tsx
  packages/website/components/common/CompletionStats.tsx
  packages/website/components/layout/Header.tsx
  packages/website/components/ui/badge.tsx
  packages/website/hooks/useStats.ts
Due: eslint --fix --cache, prettier --write --cache

fix types
  packages/shared/src/types/index.ts
  packages/website/components/common/Spotlight.tsx
Due: eslint --fix --cache

Update info.yml
  study-plans/javascript/info.yml
Due: none

Update info.yml
  challenges/00013-medium-isempty/info.yml
Due: none
