Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

add fetch for octokit
  db/answers.ts
Due: eslint --fix --cache

add NODE_ENV for github action
  .github/workflows/index-update.yml
Due: none

change env to CI
  .github/workflows/index-update.yml
Due: none

refactor urls
  .github/workflows/index-update.yml
  README.md
  components/editor/ShareSolutionButton.tsx
  db/answers.ts
  package.json
  questions/0001-easy-rtl-icon/README.md
  questions/0002-easy-click-outisde/README.md
  questions/00025-hard-debounce/README.md
  questions/0003-medium-use-hover/README.md
  questions/0004-hard-use-focus-trap/README.md
  questions/0005-medium-fluid-typography/README.md
  utils/questions.ts
  utils/readme.ts
  utils/url.ts
Due: eslint --fix --cache, prettier --write --cache

fix typo in package.json
  package.json
Due: prettier --write --cache

chore: update index
  package-lock.json
Due: prettier --write --cache

update node version to 20 for index-update workflow
  .github/workflows/index-update.yml
Due: none

add NEXT_BASE_URL in workflow for index-update
  .github/workflows/index-update.yml
Due: none

add NODE_ENV to use github secret in worflow
  .github/workflows/index-update.yml
Due: none

chore: refactor
  constants.ts
  db/answers.ts
  questions/0001-easy-rtl-icon/README.md
  questions/0002-easy-click-outisde/README.md
  questions/00025-hard-debounce/README.md
  questions/0003-medium-use-hover/README.md
  questions/0004-hard-use-focus-trap/README.md
  questions/0005-medium-fluid-typography/README.md
Due: eslint --fix --cache

fix typo in urls
  utils/url.ts
Due: eslint --fix --cache

chore: update index
  questions/0001-easy-rtl-icon/README.md
  questions/0002-easy-click-outisde/README.md
  questions/00025-hard-debounce/README.md
  questions/0003-medium-use-hover/README.md
  questions/0004-hard-use-focus-trap/README.md
  questions/0005-medium-fluid-typography/README.md
Due: none

fix urls + refactor
  README.md
  app/globals.css
  components/common/Logo.tsx
  components/common/MDXComponent.tsx
  components/editor/SandpackRoot.tsx
  components/home/Hero.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/questions/AnswerList.tsx
  components/ui/button.tsx
  components/ui/icon.tsx
  components/ui/index.ts
  components/ui/input.tsx
  components/ui/sheet.tsx
  db/answers.ts
  questions/0002-easy-click-outisde/template.react.md
  questions/0003-medium-use-hover/template.react.md
  questions/0006-hard-debounce/README.md
  questions/0006-hard-debounce/info.yml
  questions/0006-hard-debounce/template.javascript.md
  utils/toFooter.ts
  utils/url.ts
Due: eslint --fix --cache, prettier --write --cache

fix typo
  README.md
Due: none

fix typo + refactor
  README.md
  components/layout/Header.tsx
  package-lock.json
Due: eslint --fix --cache, prettier --write --cache

move husky to dependencies
  .eslintcache
  package-lock.json
  package.json
Due: prettier --write --cache

remove unused code
  components/home/Hero.tsx
Due: eslint --fix --cache

chore: update index
  README.md
  package-lock.json
  questions/0006-hard-debounce/README.md
Due: prettier --write --cache

refactor
  .eslintcache
  app/questions/[slug]/client.tsx
  components/mdx/Sandpack.tsx
  content/blog/how-to-contribute/index.md
  db/blogs.ts
  db/question.ts
  utils/markdown.ts
Due: eslint --fix --cache

add support for quizzes
  .eslintcache
  app/globals.css
  app/page.tsx
  app/questions/[slug]/client.tsx
  app/quizzes/[slug]/client.tsx
  app/quizzes/[slug]/page.tsx
  app/quizzes/page.tsx
  components/challenges/ChallengeList.tsx
  components/common/MDXComponent.tsx
  components/editor/CodeEditor.tsx
  components/editor/Description.tsx
  components/editor/ShareSolutionButton.tsx
  components/questions/AnswerList.tsx
  components/questions/QuestionList.tsx
  components/questions/QuestionListItem.tsx
  components/quizzes/QuizList.tsx
  components/quizzes/QuizListItem.tsx
  components/quizzes/QuizListWithFilters.tsx
  components/ui/badge.tsx
  components/ui/icon.tsx
  constants.ts
  db/challenges.ts
  db/question.ts
  db/quiz.ts
  questions/0005-medium-fluid-typography/info.yml
  questions/0006-hard-debounce/info.yml
  quizzes/0007-easy-promise-order/README.md
  quizzes/0007-easy-promise-order/info.yml
  scripts/build.ts
  scripts/readme.ts
  templates/react.ts
  templates/tests.ts
  types/index.ts
  utils/readme.ts
  utils/url.ts
Due: eslint --fix --cache, prettier --write --cache

change node version in workflow
  .eslintcache
  .github/workflows/index-update.yml
Due: none

fix build error
  db/quiz.ts
Due: eslint --fix --cache

fix build error
  .eslintcache
  scripts/actions/issue-pr.ts
Due: eslint --fix --cache

fix build error
  .eslintcache
  utils/toFooter.ts
Due: eslint --fix --cache

replace octakit with github search rest api
  .eslintcache
  db/answers.ts
  package-lock.json
  package.json
Due: eslint --fix --cache, prettier --write --cache

revert removing octokit
  .eslintcache
  db/answers.ts
Due: eslint --fix --cache

load answers async
  .eslintcache
  app/layout.tsx
  app/page.tsx
  components/questions/AnswerList.tsx
  db/answers.ts
  db/question.ts
  lib/queryClient.ts
  package-lock.json
  package.json
  providers/QueryClientProvider.tsx
Due: eslint --fix --cache, prettier --write --cache

fix quizzes answers list
  app/quizzes/[slug]/client.tsx
  components/quizzes/AnswerList.tsx
  db/answers.ts
  db/quiz.ts
Due: eslint --fix --cache

add eslintcache to gitignore
  .eslintcache
  .gitignore
Due: none

minor UI fixes
  app/quizzes/[slug]/client.tsx
  components/common/MDXComponent.tsx
  components/quizzes/AnswerList.tsx
  components/ui/input.tsx
Due: eslint --fix --cache

fix pr workflow for quiz type
  app/blog/[slug]/client.tsx
  app/globals.css
  app/page.tsx
  app/submit/question/Description.tsx
  app/submit/question/Step1Fields.tsx
  app/submit/question/Step1Header.tsx
  app/submit/question/Step2Fields.tsx
  app/submit/question/Step2Header.tsx
  app/submit/question/client.tsx
  app/submit/question/page.tsx
  app/submit/quiz/Step1Header.tsx
  app/submit/quiz/client.tsx
  app/submit/quiz/page.tsx
  components/common/MDXComponent.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/ui/icon.tsx
  components/ui/separator.tsx
  package-lock.json
  scripts/actions/issue-pr.ts
Due: eslint --fix --cache, prettier --write --cache

fix pr workflow for quiz type
  app/submit/question/Description.tsx
  app/submit/question/client.tsx
  app/submit/quiz/client.tsx
  components/common/MDXComponent.tsx
  components/mdx/index.ts
  components/mdx/index.tsx
  scripts/actions/issue-pr.ts
  utils/questions.ts
Due: eslint --fix --cache

fix pr workflow for quiz type
  utils/questions.ts
Due: eslint --fix --cache

Update Hero.tsx
  components/home/Hero.tsx
Due: eslint --fix --cache

fix name in hero
  components/home/Hero.tsx
Due: eslint --fix --cache

fix name in various files
  app/layout.tsx
  app/questions/page.tsx
  app/quizzes/page.tsx
  components/layout/Footer.tsx
Due: eslint --fix --cache

fix workflow for quizzes
  app/quizzes/[slug]/Solution.tsx
  app/quizzes/[slug]/client.tsx
  app/submit/question/Step1Header.tsx
  app/submit/question/client.tsx
  app/submit/quiz/Step1Header.tsx
  app/submit/quiz/Step2Fields.tsx
  app/submit/quiz/Step2Header.tsx
  app/submit/quiz/client.tsx
  components/editor/ResizableLayout.tsx
  components/editor/SandpackRoot.tsx
  components/home/Hero.tsx
  components/layout/Header.tsx
  components/mdx/index.tsx
  components/quizzes/AnswerList.tsx
  db/quiz.ts
  next.config.js
  quizzes/0007-easy-promise-order/solution.md
  scripts/actions/issue-pr.ts
  types/index.ts
  utils/questions.ts
  utils/url.ts
Due: eslint --fix --cache

fix dir name for quizzes and move heading out of range
  scripts/actions/issue-pr.ts
  utils/questions.ts
Due: eslint --fix --cache

Path conditions:
  eslint --fix --cache: any of: *.{js,ts,tsx}
  prettier --write --cache: any of: *.{css,json}
