Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --cache"],
  "*.{css,json}": ["prettier --write --cache"]
}

feat(question): add #395 - useEffect 4
  challenges/395-useeffect-4/README.md
Due: none

chore: update index
  README.md
  challenges/389-useeffect/README.md
  challenges/391-useeffect-2/README.md
  challenges/393-useeffect-3/README.md
  challenges/395-useeffect-4/README.md
Due: none

update hero image
  packages/website/app/(editor)/challenges/[slug]/Question.tsx
  packages/website/app/globals.css
  packages/website/components/interfaces/home/HeroImage.tsx
  packages/website/components/interfaces/playground/PlaygroundEditor.tsx
  packages/website/utils/localStorage.ts
  packages/website/utils/playground.ts
Due: eslint --fix --cache, prettier --write --cache

minor ui updates
  packages/website/app/globals.css
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/interfaces/home/Community.tsx
  packages/website/components/interfaces/home/Hero.tsx
  packages/website/components/interfaces/home/HeroImage.tsx
Due: eslint --fix --cache, prettier --write --cache

minor ui updates
  challenges/395-react-useeffect-micro-macro-tasks/README.md
  challenges/395-react-useeffect-micro-macro-tasks/info.yml
  challenges/395-react-useeffect-micro-macro-tasks/solution.md
  packages/website/app/globals.css
  packages/website/components/common/Spotlight.tsx
  packages/website/components/interfaces/home/HeroImage.tsx
  packages/website/components/ui/button.tsx
  packages/website/components/ui/card.tsx
  packages/website/components/ui/dialog.tsx
  packages/website/components/ui/input.tsx
  packages/website/components/ui/popover.tsx
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

chore: update index
  README.md
  challenges/395-react-useeffect-micro-macro-tasks/README.md
Due: none

ui bug fixes
  packages/website/app/globals.css
  packages/website/app/layout.tsx
  packages/website/components/editor/ResizableLayoutTab.tsx
  packages/website/components/interfaces/home/Community.tsx
  packages/website/components/ui/button.tsx
  packages/website/components/ui/resizable.tsx
Due: eslint --fix --cache, prettier --write --cache

fix paths
  package.json
Due: prettier --write --cache

udpate lock file
  package.json
  pnpm-lock.yaml
Due: prettier --write --cache

fix roadmap path
  apps/www/entities/roadmap/model/constants.ts
  package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

use cache for pnpm in workflow
  .github/workflows/index-update.yml
Due: none

fix workflows paths
  .github/workflows/issue-pr.yml
  .github/workflows/labeling.yml
  apps/www/scripts/update-index.ts
  package.json
Due: eslint --fix --cache, prettier --write --cache

fix workflow
  .github/workflows/issue-pr.yml
Due: none

fix imports
  apps/www/scripts/actions/issue-pr.ts
Due: eslint --fix --cache

feat(question): add #399 - Tic Tac Toe
  challenges/399-tic-tac-toe/README.md
  challenges/399-tic-tac-toe/info.yml
  challenges/399-tic-tac-toe/template.react.md
Due: none

feat(question): add #401 - useState
  challenges/401-usestate/README.md
  challenges/401-usestate/info.yml
  challenges/401-usestate/solution.md
Due: none

add cache
  .github/workflows/issue-pr.yml
Due: none

minor ui updates
  .vscode/settings.json
  apps/www/app/globals.css
  apps/www/components/ui/button.tsx
  apps/www/components/ui/icon-button.tsx
  apps/www/components/ui/tabs.tsx
  apps/www/components/ui/toggle-group.tsx
  apps/www/components/ui/toggle.tsx
  apps/www/entities/challenge/ui/EditChallengeDropdown.tsx
  apps/www/features/auth/api/getAuthUser.ts
  apps/www/package.json
  apps/www/screens/submit-quiz/ui/SubmitQuizPage.tsx
  apps/www/screens/submit-theory/ui/SubmitTheoryPage.tsx
  apps/www/widgets/Spotlight.tsx
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

add leaderboard
  apps/www/entities/challenge/api/getChallengeByPathSlim.ts
  apps/www/entities/challenge/model/types.ts
  apps/www/entities/challenge/ui/ChallengeList.tsx
  apps/www/entities/challenge/ui/ChallengeListItem.tsx
  apps/www/entities/challenge/ui/Question.tsx
  apps/www/entities/challenge/ui/Quiz.tsx
  apps/www/entities/resource/index.ts
  apps/www/entities/resource/lib/faviconUtils.ts
  apps/www/entities/resource/model/types.ts
  apps/www/entities/resource/ui/ResourceList.tsx
  apps/www/entities/resource/ui/ResourceListItem.tsx
  apps/www/features/leaderboard/api/getLeadboardUsers.ts
  apps/www/features/leaderboard/hooks/useLeaderboard.ts
  apps/www/features/leaderboard/ui/Leaderboard.tsx
  apps/www/features/leaderboard/ui/TopLeaderboardUserList.tsx
  apps/www/screens/home/ui/HomePage.tsx
  apps/www/screens/home/ui/RecentlyAddedChallenges.tsx
Due: eslint --fix --cache

add leaderboard
  apps/www/.gitignore
  apps/www/components/ui/button.tsx
  apps/www/entities/challenge/lib/getChallengesWithFilters.ts
  apps/www/entities/challenge/ui/ChallengeList.tsx
  apps/www/eslint.config.js
  apps/www/features/challenge-filter/hooks/usePersistedChallengeFilters.ts
  apps/www/features/leaderboard/api/getLeadboardUsers.ts
  apps/www/features/leaderboard/ui/Leaderboard.tsx
  apps/www/features/leaderboard/ui/TopLeaderboardUserList.tsx
  apps/www/package.json
  apps/www/widgets/Footer.tsx
  apps/www/widgets/Header.tsx
  challenges/401-usestate/info.yml
Due: eslint --fix --cache, prettier --write --cache

fix ui bugs
  .lintstagedrc.json
  apps/www/entities/challenge/lib/getChallengesWithFilters.ts
  apps/www/entities/discussion/api/getIssueComments.ts
  apps/www/entities/resource/model/types.ts
  apps/www/entities/resource/ui/ResourceListItem.tsx
  apps/www/features/challenge-filter/ui/ChallengesFilters.tsx
  apps/www/features/leaderboard/api/getLeadboardUsers.ts
  apps/www/features/leaderboard/ui/Leaderboard.tsx
  apps/www/features/leaderboard/ui/TopLeaderboardUserList.tsx
  apps/www/screens/home/ui/HomePage.tsx
  apps/www/screens/home/ui/RecentlyAddedChallenges.tsx
  package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

fix auth
  apps/www/app/auth/callback/route.ts
  apps/www/entities/challenge/ui/ChallengeListItem.tsx
  apps/www/entities/challenge/ui/Question.tsx
  apps/www/entities/comment/api/getIssueComments.ts
  apps/www/entities/comment/hooks/useComment.ts
  apps/www/entities/comment/model/types.ts
  apps/www/entities/comment/ui/CommentList.tsx
  apps/www/entities/comment/ui/CommentListItem.tsx
  apps/www/entities/completions/ui/CompletionStats.tsx
  apps/www/features/auth/hooks/useAuth.ts
  apps/www/features/auth/ui/UserDropdown.tsx
  apps/www/features/header-completion-stats/hooks/useCompletionStats.ts
  apps/www/shared/api/supabase/server.ts
  apps/www/shared/config/storage.ts
  apps/www/shared/ui/FullPageLoader.tsx
Due: eslint --fix --cache

minor fixes
  apps/www/app/(editor)/play/page.tsx
  apps/www/entities/category/config/metadata.ts
  apps/www/entities/challenge/lib/useSyncScopeToSessionStorage.ts
  apps/www/entities/challenge/ui/AnswerList.tsx
  apps/www/entities/challenge/ui/ChallengeList.tsx
  apps/www/entities/challenge/ui/ChallengeListWithFilters.tsx
  apps/www/entities/comment/ui/CommentList.tsx
  apps/www/entities/roadmap/ui/RoadmapDetail.tsx
  apps/www/features/challenge-filter/hooks/usePersistedChallengeFilters.ts
  apps/www/features/challenge-filter/ui/ChallengesFilters.tsx
  apps/www/features/code-editor/context/LayoutProvider.tsx
  apps/www/screens/categories/ui/CategoryDetailPage.tsx
  apps/www/screens/challenge/ui/Breadcrumb.tsx
  apps/www/shared/lib/sessionStorage.ts
  apps/www/shared/lib/storage.ts
  apps/www/widgets/Header.tsx
Due: eslint --fix --cache

minor fixes
  apps/www/app/globals.css
  apps/www/entities/challenge/ui/ChallengeListItem.tsx
  apps/www/entities/challenge/ui/Description.tsx
  apps/www/entities/challenge/ui/Question.tsx
  apps/www/entities/completions/ui/CompletionStats.tsx
  apps/www/features/challenge-filter/ui/ChallengesFilters.tsx
  apps/www/features/code-editor/context/SandpackLocalProvider.tsx
  apps/www/features/code-editor/ui/FileExplorer.tsx
  apps/www/features/code-editor/ui/ResizableLayoutTab.tsx
  apps/www/features/header-completion-stats/ui/CompletionStats.tsx
  apps/www/screens/home/ui/Community.tsx
  apps/www/screens/home/ui/Hero.tsx
  apps/www/shared/styles/utilities.css
  apps/www/widgets/Spotlight.tsx
  package.json
Due: eslint --fix --cache, prettier --write --cache

make animation of popover and dropdown consistent
  apps/www/components/ui/dropdown-menu.tsx
  apps/www/widgets/Header.tsx
Due: eslint --fix --cache

fix readme image paths
  README.md
Due: none

fix readme light image path
  README.md
Due: none

update blog item
  apps/www/content/blog/how-to-contribute/index.md
  apps/www/features/auth/ui/UserDropdown.tsx
Due: eslint --fix --cache

update workflows caching
  .github/workflows/index-update.yml
  .github/workflows/issue-pr.yml
  .github/workflows/labeling.yml
Due: none

feat(question): add #403 - find-highest-commodity-price
  challenges/403-find-highest-commodity-price/README.md
  challenges/403-find-highest-commodity-price/info.yml
  challenges/403-find-highest-commodity-price/template.javascript.md
Due: none

feat(question): add #405 - Sampling
  challenges/405-sampling/README.md
  challenges/405-sampling/info.yml
  challenges/405-sampling/template.typescript.md
Due: none

feat(question): add #407 - File Explorer
  challenges/407-file-explorer/README.md
  challenges/407-file-explorer/info.yml
  challenges/407-file-explorer/template.react.md
Due: none

feat(question): add #409 - mapLimit
  challenges/409-maplimit/README.md
  challenges/409-maplimit/info.yml
  challenges/409-maplimit/template.typescript.md
Due: none

feat(question): add #411 - Parallel async execution
  challenges/411-parallel-async-execution/README.md
  challenges/411-parallel-async-execution/info.yml
  challenges/411-parallel-async-execution/template.javascript.md
Due: none

feat(question): add #413 - Html string encoder
  challenges/413-html-string-encoder/README.md
  challenges/413-html-string-encoder/info.yml
  challenges/413-html-string-encoder/template.typescript.md
Due: none

feat(question): add #415 - test and expect
  challenges/415-test-and-expect/README.md
  challenges/415-test-and-expect/info.yml
  challenges/415-test-and-expect/template.javascript.md
Due: none

feat(question): add #418 - DOM to Object
  challenges/418-dom-to-object/README.md
  challenges/418-dom-to-object/info.yml
  challenges/418-dom-to-object/template.javascript.md
Due: none
