Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --cache"],
  "*.{css,json}": ["prettier --write --cache"]
}

chore: update index
  challenges/00013-medium-isempty/README.md
Due: none

add navigation on challenge
  packages/backend/src/db/challenges.ts
  packages/website/app/challenges/[slug]/Breadcrumb.tsx
  packages/website/app/challenges/client.tsx
  packages/website/app/challenges/page.tsx
  packages/website/app/client.tsx
  packages/website/app/play/Loading.tsx
  packages/website/app/play/page.tsx
  packages/website/components/challenges/ChallengeListFilterMobile.tsx
  packages/website/components/challenges/ChallengeListItem.tsx
  packages/website/components/challenges/ChallengeListWithFilters.tsx
  packages/website/components/challenges/filters-mobile/ChallengeCategoryFilterMobile.tsx
  packages/website/components/challenges/filters-mobile/ChallengeDifficultyFilterMobile.tsx
  packages/website/components/challenges/filters-mobile/ChallengeTypeFilterMobile.tsx
  packages/website/components/challenges/filters/ChallengeSearchFilter.tsx
  packages/website/components/home/RecentlyAddedChallenges.tsx
  packages/website/hooks/index.ts
  packages/website/hooks/useFilteredChallenges.ts
  packages/website/hooks/useInitializeFilters.ts
  packages/website/hooks/useSyncScopeToSessionStorage.ts
Due: eslint --fix --cache

delete loading component
  packages/website/app/play/Loading.tsx
Due: eslint --fix --cache

add loading component
  packages/website/app/play/loading.tsx
Due: eslint --fix --cache

fix filters bug
  packages/website/hooks/useInitializeFilters.ts
Due: eslint --fix --cache

remove duplicate footer
  packages/website/app/categories/[category]/page.tsx
Due: eslint --fix --cache

read files from local storage
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/challenges/client.tsx
  packages/website/app/page.tsx
  packages/website/app/play/client.tsx
  packages/website/components/challenges/ChallengeListSort.tsx
  packages/website/components/editor/MonacoEditor.tsx
  packages/website/hooks/useFilteredChallenges.ts
  packages/website/hooks/useInitializeFilters.ts
  packages/website/hooks/useLocalStorageChallengeFiles.ts
  packages/website/utils/challenges.ts
  packages/website/utils/helpers.ts
Due: eslint --fix --cache

fix typescript prettifying + remove category dropdown from category page
  packages/website/app/categories/[category]/page.tsx
  packages/website/app/challenges/client.tsx
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/ui/button.tsx
  packages/website/utils/challenges.ts
Due: eslint --fix --cache

fix caching on playground
  packages/website/app/play/client.tsx
  packages/website/app/submit/question/Step2Fields.tsx
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/editor/MonacoEditor.tsx
Due: eslint --fix --cache

feat(question): add #165 - re-render 2
  challenges/00165-easy-re-render-2/README.md
  challenges/00165-easy-re-render-2/info.yml
  challenges/00165-easy-re-render-2/template.react.md
Due: none

update re-render
  challenges/00016-medium-re-render/README.md
  challenges/00016-medium-re-render/info.yml
  challenges/00016-medium-re-render/template.react.md
Due: none

update re-render question and add source
  challenges/00016-medium-re-render/README.md
  challenges/00016-medium-re-render/template.react.md
Due: none

feat(question): add #169 - re-render 2
  challenges/00169-easy-re-render-2/README.md
  challenges/00169-easy-re-render-2/info.yml
  challenges/00169-easy-re-render-2/template.react.md
Due: none

chore: create discussion for challenge #169 - re-render 2
  challenges/00169-easy-re-render-2/info.yml
Due: none

update re-render question and add source
  challenges/00169-easy-re-render-2/README.md
  challenges/00169-easy-re-render-2/template.react.md
Due: none

chore: update index
  README.md
  challenges/00016-medium-re-render/README.md
  challenges/00169-easy-re-render-2/README.md
Due: none

bug fixes
  challenges/00016-medium-re-render/README.md
  challenges/00169-easy-re-render-2/README.md
  challenges/00169-easy-re-render-2/template.react.md
  packages/website/app/play/client.tsx
  packages/website/components/icons/VerticalDotsIcon.tsx
  packages/website/components/icons/index.tsx
  packages/website/components/ui/icon.tsx
  packages/website/utils/helpers.ts
Due: eslint --fix --cache

chore: update index
  challenges/00016-medium-re-render/README.md
  challenges/00169-easy-re-render-2/README.md
Due: none

fix overflow tabs
  packages/website/app/globals.css
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/icons/LinkedinIcon.tsx
  packages/website/components/icons/XIcon.tsx
  packages/website/components/icons/index.tsx
  packages/website/components/layout/Footer.tsx
  packages/website/components/ui/icon.tsx
  packages/website/components/ui/tabs.tsx
Due: eslint --fix --cache, prettier --write --cache

delete format challenges
  challenges/00016-medium-re-render/README.md
  challenges/00169-easy-re-render-2/README.md
Due: none

minor refactor
  packages/website/app/challenges/[slug]/edit/client.tsx
  packages/website/app/challenges/[slug]/edit/page.tsx
  packages/website/app/play/client.tsx
  packages/website/components/editor/Description.tsx
  packages/website/components/editor/MonacoEditor.tsx
  packages/website/components/layout/Footer.tsx
  packages/website/components/layout/Header.tsx
Due: eslint --fix --cache

remove unused import
  packages/backend/src/db/challenges.ts
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/challenges/[slug]/edit/client.tsx
  packages/website/app/challenges/[slug]/edit/page.tsx
  packages/website/app/challenges/[slug]/page.tsx
  packages/website/app/play/client.tsx
  packages/website/app/submit/quiz/client.tsx
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/editor/Console.tsx
  packages/website/components/editor/Description.tsx
  packages/website/components/editor/ResizableLayout.tsx
  packages/website/components/layout/Footer.tsx
  packages/website/hooks/useFilteredChallenges.ts
  packages/website/utils/markdown.ts
Due: eslint --fix --cache

update url on filtering
  packages/backend/src/db/challenges.ts
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/challenges/client.tsx
  packages/website/components/challenges/ChallengeListWithFilters.tsx
  packages/website/components/common/SubmissionNavigator.tsx
  packages/website/components/editor/Description.tsx
  packages/website/components/editor/EditDropdown.tsx
  packages/website/components/editor/ResizableLayout.tsx
  packages/website/components/icons/XIcon.tsx
  packages/website/components/layout/Header.tsx
  packages/website/components/ui/button.tsx
  packages/website/hooks/useFilteredChallenges.ts
  packages/website/hooks/useInitializeFilters.ts
Due: eslint --fix --cache

remove console on playground ( temporary )
  packages/website/app/play/client.tsx
  packages/website/hooks/useInitializeFilters.ts
Due: eslint --fix --cache

rename study plan to roadmap
  .github/ISSUE_TEMPLATE/bug.md
  .github/ISSUE_TEMPLATE/feedback.md
  packages/backend/src/db/index.ts
  packages/backend/src/db/roadmaps.ts
  packages/shared/src/constants.ts
  packages/shared/src/types/index.ts
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/play/client.tsx
  packages/website/app/roadmaps/[slug]/page.tsx
  packages/website/app/roadmaps/page.tsx
  packages/website/app/study-plans/page.tsx
  packages/website/components/common/SubmissionNavigator.tsx
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/icons/BugIcon.tsx
  packages/website/components/icons/index.tsx
  packages/website/components/layout/Header.tsx
  packages/website/components/roadmaps/RoadmapListItem.tsx
  packages/website/components/ui/icon.tsx
  roadmaps/javascript/info.yml
Due: eslint --fix --cache

feat(question): add #174 - re-render 3
  challenges/174-re-render-3/README.md
  challenges/174-re-render-3/info.yml
  challenges/174-re-render-3/template.react.md
Due: none

Update README.md of a challenge
  challenges/16-re-render/README.md
Due: none

Update README.md of re-render2 challenge
  challenges/169-re-render-2/README.md
Due: none

minor refactor
  packages/scripts/actions/issue-pr.ts
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/challenges/client.tsx
  packages/website/app/globals.css
  packages/website/app/layout.tsx
  packages/website/app/play/SharePlaygroundButton.tsx
  packages/website/app/play/client.tsx
  packages/website/app/play/page.tsx
  packages/website/app/submit/question/Step2Header.tsx
  packages/website/components/challenges/ChallengeListWithFilters.tsx
  packages/website/components/editor/CodeEditor.tsx
  packages/website/components/editor/Console.tsx
  packages/website/components/editor/Description.tsx
  packages/website/components/editor/EditDropdown.tsx
  packages/website/components/editor/FileExplorer.tsx
  packages/website/components/editor/MonacoEditor.tsx
  packages/website/components/editor/SandpackLocalProvider.tsx
  packages/website/components/editor/SandpackRoot.tsx
  packages/website/components/icons/SettingsIcon.tsx
  packages/website/components/ui/button.tsx
  packages/website/components/ui/icon.tsx
  packages/website/components/ui/popover.tsx
  packages/website/components/ui/tooltip.tsx
  packages/website/hooks/useLocalStorageChallengeFiles.ts
  packages/website/hooks/usePrettify.ts
  packages/website/hooks/useScrollableTabs.ts
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #179 - Contains Duplicate
  challenges/179-contains-duplicate/README.md
  challenges/179-contains-duplicate/info.yml
  challenges/179-contains-duplicate/template.typescript.md
Due: none

chore: create discussion for challenge #179 - Contains Duplicate
  challenges/179-contains-duplicate/info.yml
Due: none

fix type errors
  packages/website/app/challenges/[slug]/Question.tsx
  packages/website/app/submit/question/client.tsx
  packages/website/components/editor/SandpackRoot.tsx
Due: eslint --fix --cache

feat(question): add #183 - Anagrams
  challenges/183-anagrams/README.md
  challenges/183-anagrams/info.yml
  challenges/183-anagrams/template.typescript.md
Due: none

chore: create discussion for challenge #183 - Anagrams
  challenges/183-anagrams/info.yml
Due: none

feat(question): add #188 - Two Sums
  challenges/188-two-sums/README.md
  challenges/188-two-sums/info.yml
  challenges/188-two-sums/template.typescript.md
Due: none

chore: create discussion for challenge #188 - Two Sums
  challenges/188-two-sums/info.yml
Due: none

fix test
  challenges/188-two-sums/template.typescript.md
Due: none

fix ui bug
  packages/website/utils/answers.ts
Due: eslint --fix --cache
