Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --cache"],
  "*.{css,json}": ["prettier --write --cache"]
}

tiny bug fixes
  challenges/00061-easy-logical-operators/README.md
  challenges/00061-easy-logical-operators/info.yml
  components/common/Spotlight.tsx
  components/common/SubmissionNavigator.tsx
  components/editor/Description.tsx
  components/editor/MarkCompleteButton.tsx
  components/home/Community.tsx
  scripts/actions/issue-pr.ts
Due: eslint --fix --cache

feat(question): add #66 - this I
  challenges/00066-easy-this-i/README.md
  challenges/00066-easy-this-i/info.yml
  challenges/00066-easy-this-i/solution.md
Due: none

chore: create discussion for challenge #66 - this I
  challenges/00066-easy-this-i/info.yml
Due: none

chore: update index
  README.md
  challenges/00066-easy-this-i/README.md
Due: none

feat(question): add #69 - Two functions - one object
  challenges/00069-easy-two-functions-one-object/README.md
  challenges/00069-easy-two-functions-one-object/info.yml
  challenges/00069-easy-two-functions-one-object/template.javascript.md
Due: none

fix question #66, fix pr discussion workflow
  README.md
  challenges/00066-easy-this/README.md
  challenges/00066-easy-this/info.yml
  challenges/00066-easy-this/solution.md
  scripts/actions/pr-discussion.ts
Due: eslint --fix --cache

Update README.md
  README.md
Due: none

chore: create discussion for challenge #69 - Two functions - one object
  challenges/00069-easy-two-functions-one-object/info.yml
Due: none

chore: update index
  README.md
  challenges/00066-easy-this/README.md
  challenges/00069-easy-two-functions-one-object/README.md
Due: none

setup base for studyplans
  app/study-plans/[slug]/page.tsx
  app/study-plans/page.tsx
  assets/fonts/inter/Inter-Bold.ttf
  assets/fonts/inter/Inter-Medium.ttf
  assets/fonts/inter/Inter-Regular.ttf
  constants.ts
  db/study-plans.ts
  store/auth.ts
  store/locale.ts
  store/ui.ts
  study-plans/javascript.yml
  supabase/.gitignore
  supabase/config.toml
  supabase/seed.sql
  types/index.ts
  utils/supabase/client.ts
  utils/supabase/middleware.ts
  utils/supabase/server.ts
Due: eslint --fix --cache

update study plan structure
  app/study-plans/[slug]/page.tsx
  app/study-plans/page.tsx
  db/study-plans.ts
  study-plans/javascript.yml
  study-plans/javascript/info.yml
  types/index.ts
  utils/locales.ts
Due: eslint --fix --cache

add links at top
  components/common/Spotlight.tsx
  components/layout/Header.tsx
Due: eslint --fix --cache

add study plans
  app/study-plans/page.tsx
  components/challenges/ChallengeList.tsx
  components/challenges/ChallengeListFilterMobile.tsx
  components/challenges/ChallengeListItem.tsx
  components/study-plans/StudyPlanListItem.tsx
  db/study-plans.ts
  study-plans/javascript/info.yml
  types/index.ts
Due: eslint --fix --cache

add study plans
  app/auth/callback/route.ts
  app/private/page.tsx
  components/auth/SignInButton.tsx
  db/auth.ts
  package-lock.json
  package.json
Due: eslint --fix --cache, prettier --write --cache

add study plans
  app/study-plans/[slug]/page.tsx
  db/study-plans.ts
  package.json
Due: eslint --fix --cache, prettier --write --cache

fix build issues
  app/study-plans/[slug]/page.tsx
  components/auth/UserDropdown.tsx
  components/auth/UserNav.tsx
  hooks/auth/useLogout.ts
  hooks/index.ts
  hooks/useAuth.ts
Due: eslint --fix --cache

fix study plans ssr generation
  app/study-plans/[slug]/page.tsx
Due: eslint --fix --cache

chore: update index
  package-lock.json
Due: prettier --write --cache

update javascript study plan
  app/study-plans/[slug]/page.tsx
  study-plans/javascript/info.yml
Due: eslint --fix --cache

feat(question): add #74 - filter
  challenges/00074-easy-filter/README.md
  challenges/00074-easy-filter/info.yml
  challenges/00074-easy-filter/template.javascript.md
Due: none

chore: create discussion for challenge #74 - filter
  challenges/00074-easy-filter/info.yml
Due: none

feat(question): add #78 - Array.prototype.map
  challenges/00078-easy-array-prototype-map/README.md
  challenges/00078-easy-array-prototype-map/info.yml
  challenges/00078-easy-array-prototype-map/template.javascript.md
Due: none

chore: create discussion for challenge #78 - Array.prototype.map
  challenges/00078-easy-array-prototype-map/info.yml
Due: none

update name of filter challenge
  challenges/00074-easy-array-prototype-filter/README.md
  challenges/00074-easy-array-prototype-filter/info.yml
  challenges/00074-easy-array-prototype-filter/template.javascript.md
Due: none

chore: update index
  README.md
  challenges/00074-easy-array-prototype-filter/README.md
  challenges/00078-easy-array-prototype-map/README.md
Due: none

feat(question): add #82 - Array.prototype.reduce
  challenges/00082-medium-array-prototype-reduce/README.md
  challenges/00082-medium-array-prototype-reduce/info.yml
  challenges/00082-medium-array-prototype-reduce/template.javascript.md
Due: none

Update README.md
  challenges/00082-medium-array-prototype-reduce/README.md
Due: none

chore: create discussion for challenge #82 - Array.prototype.reduce
  challenges/00082-medium-array-prototype-reduce/info.yml
Due: none

feat(question): add #86 - Chunk
  challenges/00086-easy-chunk/README.md
  challenges/00086-easy-chunk/info.yml
  challenges/00086-easy-chunk/template.javascript.md
Due: none

chore: update index
  README.md
  challenges/00082-medium-array-prototype-reduce/README.md
Due: none

chore: create discussion for challenge #86 - Chunk
  challenges/00086-easy-chunk/info.yml
Due: none

chore: update index
  README.md
  challenges/00086-easy-chunk/README.md
Due: none

add category
  app/[category]/page.tsx
  app/challenges/[slug]/Question.tsx
  app/challenges/[slug]/page.tsx
  app/page.tsx
  app/play/page.tsx
  components/challenges/ChallengeListWithFilters.tsx
  components/common/SubmissionNavigator.tsx
  components/home/CategoryList.tsx
  components/layout/Header.tsx
  constants.ts
  db/challenge.ts
  providers/ThemeProvider.tsx
  scripts/readme.ts
Due: eslint --fix --cache

minor fixes
  components/challenges/ChallengeListWithFilters.tsx
  components/common/Spotlight.tsx
  templates/vanilla.ts
Due: eslint --fix --cache

update playground
  app/play/SharePlaygroundButton.tsx
  app/play/client.tsx
  components/editor/ShareSolutionButton.tsx
  components/ui/skeleton.tsx
Due: eslint --fix --cache

update playground
  app/play/Loading.tsx
  app/play/client.tsx
  app/play/page.tsx
Due: eslint --fix --cache

Update README.md
  challenges/00047-medium-checkbox/README.md
Due: none

use monaco editor
  components/editor/CodeEditor.tsx
  components/editor/MonacoEditor.tsx
  components/markdown/index.tsx
  components/mdx/index.tsx
  package-lock.json
  package.json
Due: eslint --fix --cache, prettier --write --cache

hide minimap in monaco
  app/globals.css
  components/editor/MonacoEditor.tsx
  components/mdx/index.tsx
Due: eslint --fix --cache, prettier --write --cache
