Repository jsartisan/frontend-challenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, prettier --write --cache

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["eslint --fix --cache"],
  "*.{css,json}": ["prettier --write --cache"]
}

chore: update index
  README.md
  challenges/00040-easy-layout-1/README.md
Due: none

remove console
  components/editor/Preview.tsx
Due: eslint --fix --cache

feat(question): add #43 - Promise.any
  challenges/00043-hard-promise-any/README.md
  challenges/00043-hard-promise-any/info.yml
  challenges/00043-hard-promise-any/template.javascript.md
Due: none

fix issue-pr workflow
  components/challenges/ChallengeListWithFilters.tsx
  components/editor/SandpackRoot.tsx
  scripts/actions/issue-pr.ts
Due: eslint --fix --cache

chore: update index
  README.md
  challenges/00043-hard-promise-any/README.md
Due: none

feat(question): add #45 - Specificity
  challenges/00045-easy-specificity/README.md
  challenges/00045-easy-specificity/info.yml
  challenges/00045-easy-specificity/solution.md
Due: none

chore: update index
  README.md
  challenges/00045-easy-specificity/README.md
Due: none

add spotlight
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/challenges/[slug]/page.tsx
  app/challenges/page.tsx
  app/layout.tsx
  app/page.tsx
  app/play/client.tsx
  app/play/page.tsx
  components/common/Logo.tsx
  components/common/Spotlight.tsx
  components/editor/TemplateChanger.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  scripts/actions/issue-pr.ts
  utils/questions.ts
Due: eslint --fix --cache

fix add spotlight
  components/common/Spotlight.tsx
  scripts/actions/issue-pr.ts
Due: eslint --fix --cache

fix spotlight ui + data
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/challenges/[slug]/page.tsx
  app/challenges/page.tsx
  app/page.tsx
  app/play/page.tsx
  components/common/Spotlight.tsx
  components/layout/Header.tsx
  components/ui/dialog.tsx
  types/index.ts
Due: eslint --fix --cache

feat(question): add #47 - Checkbox
  challenges/00047-medium-checkbox/README.md
  challenges/00047-medium-checkbox/info.yml
  challenges/00047-medium-checkbox/template.vanilla.md
Due: none

chore: update index
  README.md
  challenges/00047-medium-checkbox/README.md
Due: none

add fix labelling workflow
  .github/ISSUE_TEMPLATE/answer.md
  README.md
  components/common/Logo.tsx
  scripts/actions/labeling.ts
  utils/url.ts
Due: eslint --fix --cache

feat(question): add #49 - Holy Grail
  challenges/00049-easy-holy-grail/README.md
  challenges/00049-easy-holy-grail/info.yml
  challenges/00049-easy-holy-grail/template.vanilla.md
Due: none

fix submit url logic
  utils/questions.ts
  utils/url.ts
Due: eslint --fix --cache

chore: update index
  README.md
  challenges/00008-easy-closure/README.md
  challenges/0001-easy-rtl-icon/README.md
  challenges/00010-medium-classnames/README.md
  challenges/00013-medium-isempty/README.md
  challenges/00016-medium-re-render/README.md
  challenges/00018-easy-flatten/README.md
  challenges/0002-easy-click-outisde/README.md
  challenges/00020-hard-throttle/README.md
  challenges/0003-medium-use-hover/README.md
  challenges/00032-easy-instanceofclass/README.md
  challenges/00035-hard-promise-all/README.md
  challenges/00037-hard-promise-race/README.md
  challenges/0004-hard-use-focus-trap/README.md
  challenges/00040-easy-layout-1/README.md
  challenges/00043-hard-promise-any/README.md
  challenges/00045-easy-specificity/README.md
  challenges/00047-medium-checkbox/README.md
  challenges/00049-easy-holy-grail/README.md
  challenges/0005-medium-fluid-typography/README.md
  challenges/0006-hard-debounce/README.md
  challenges/0007-easy-promise-order/README.md
Due: none

add sign in
  .env
  app/auth/UserNav.tsx
  app/auth/callback/route.ts
  app/globals.css
  app/layout.tsx
  app/private/page.tsx
  components/common/ThemeChanger.tsx
  components/home/Community.tsx
  components/home/Hero.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
  components/ui/button.tsx
  components/ui/command.tsx
  components/ui/dialog.tsx
  components/ui/icon-button.tsx
  components/ui/popover.tsx
  components/ui/toggle-group.tsx
  components/ui/toggle.tsx
  lib/utils.ts
  middleware.ts
  package-lock.json
  package.json
  store/ui.ts
  utils/supabase/client.ts
  utils/supabase/middleware.ts
  utils/supabase/server.ts
Due: eslint --fix --cache, prettier --write --cache

feat(question): add #49 - Holy Grail
  challenges/00049-easy-holy-grail/README.md
  challenges/00049-easy-holy-grail/info.yml
Due: none

chore: update index
  challenges/00049-easy-holy-grail/README.md
Due: none

fix eslint issue
  components/auth/SignInButton.tsx
  components/challenges/ChallengeListFilter.tsx
  components/questions/AnswerList.tsx
  components/ui/accordion.tsx
  components/ui/alert-dialog.tsx
  components/ui/checkbox.tsx
  components/ui/context-menu.tsx
  components/ui/form.tsx
  components/ui/hover-card.tsx
  components/ui/menubar.tsx
  components/ui/navigation-menu.tsx
  components/ui/progress.tsx
  components/ui/radio-group.tsx
  components/ui/slider.tsx
  components/ui/switch.tsx
  components/ui/table.tsx
  components/ui/tabs.tsx
  components/ui/toast.tsx
  next.config.js
  package-lock.json
  package.json
Due: eslint --fix --cache, prettier --write --cache

fix build issues
  app/challenges/[slug]/Question.tsx
  app/challenges/[slug]/Quiz.tsx
  app/play/client.tsx
  app/play/page.tsx
  app/submit/question/page.tsx
  app/submit/quiz/page.tsx
  utils/formatToCode.ts
  utils/readme.ts
  utils/toFooter.ts
  utils/toInfoHeader.ts
  utils/toLinks.ts
  utils/url.ts
Due: eslint --fix --cache

chore: update index
  package-lock.json
Due: prettier --write --cache

feat(question): add #55 - memo
  challenges/00055-medium-memo/README.md
  challenges/00055-medium-memo/info.yml
  challenges/00055-medium-memo/template.javascript.md
Due: none

chore: update index
  README.md
  challenges/00055-medium-memo/README.md
Due: none

refactor code
  app/blog/[slug]/page.tsx
  app/blog/page.tsx
  app/globals.css
  app/layout.tsx
  components/auth/SignInButton.tsx
  components/auth/UserDropdown.tsx
  components/editor/MarkCompleteButton.tsx
  components/layout/Layout.tsx
  db/auth.ts
  hooks/auth/useLogout.ts
  hooks/index.ts
  package-lock.json
  public/images/github-background.png
  tailwind.config.js
Due: eslint --fix --cache, prettier --write --cache

refactor code
  app/blog/[slug]/client.tsx
  app/layout.tsx
  challenges/0001-easy-rtl-icon/info.yml
  challenges/00049-easy-holy-grail/info.yml
  challenges/00055-medium-memo/info.yml
  components/editor/Description.tsx
  components/mdx/index.tsx
  package-lock.json
  public/favicon.ico
  scripts/actions/issue-pr.ts
  tailwind.config.js
Due: eslint --fix --cache, prettier --write --cache

make footer responsive + add avatar_url in challenges info
  app/icon.tsx
  challenges/00008-easy-closure/info.yml
  challenges/0001-easy-rtl-icon/info.yml
  challenges/00010-medium-classnames/info.yml
  challenges/00013-medium-isempty/info.yml
  challenges/00016-medium-re-render/info.yml
  challenges/00018-easy-flatten/info.yml
  challenges/0002-easy-click-outisde/info.yml
  challenges/00020-hard-throttle/info.yml
  challenges/0003-medium-use-hover/info.yml
  challenges/00032-easy-instanceofclass/info.yml
  challenges/00035-hard-promise-all/info.yml
  challenges/00037-hard-promise-race/info.yml
  challenges/0004-hard-use-focus-trap/info.yml
  challenges/00040-easy-layout-1/info.yml
  challenges/00043-hard-promise-any/info.yml
  challenges/00045-easy-specificity/info.yml
  challenges/00047-medium-checkbox/info.yml
  challenges/0005-medium-fluid-typography/info.yml
  challenges/00055-medium-memo/info.yml
  challenges/0006-hard-debounce/info.yml
  challenges/0007-easy-promise-order/info.yml
  components/common/Spotlight.tsx
  components/editor/Preview.tsx
  components/layout/Footer.tsx
  components/layout/Header.tsx
Due: eslint --fix --cache

feat(question): add #58 - Event Emitter
  challenges/00058-medium-event-emitter/README.md
  challenges/00058-medium-event-emitter/info.yml
  challenges/00058-medium-event-emitter/template.javascript.md
Due: none

chore: update index
  README.md
  challenges/00058-medium-event-emitter/README.md
Due: none

remove unecessary code
  scripts/actions/issue-pr.ts
Due: eslint --fix --cache

create discussion for each challenge
  app/favicon.ico
  app/layout.tsx
  app/submit/question/Step2Header.tsx
  app/submit/question/client.tsx
  components/common/Spotlight.tsx
  components/editor/CodeEditor.tsx
  components/icons/BlogIcon.tsx
  components/icons/ChallengeIcon.tsx
  components/icons/HomeIcon.tsx
  components/icons/index.tsx
  components/ui/badge.tsx
  components/ui/command.tsx
  components/ui/icon.tsx
  db/blogs.ts
  scripts/actions/issue-pr.ts
  types/index.ts
Due: eslint --fix --cache

remove auth for now
  app/globals.css
  challenges/00058-medium-event-emitter/README.md
  components/editor/MarkCompleteButton.tsx
  components/home/Community.tsx
  components/layout/Header.tsx
  components/ui/button.tsx
  constants.ts
  db/completions.ts
  hooks/useCompletions.ts
Due: eslint --fix --cache, prettier --write --cache

remove profile page
  app/profile/client.tsx
  app/profile/page.tsx
Due: eslint --fix --cache

add create discussion workflow
  .github/workflows/pr-discussion.yml
  scripts/actions/issue-discussion.ts
Due: eslint --fix --cache

fix filename
  .github/workflows/pr-discussion.yml
  scripts/actions/pr-discussion.ts
Due: eslint --fix --cache

update node version in workflow
  .github/workflows/pr-discussion.yml
Due: none
